html {overflow: hidden;}
body {
    width: 100%;
    height: 100%;
}

#wrapper {
    width: 100%;
    height: 100%;
    
}

#back {
    background-image:url(road.jpg);
    width: 1700px;
    height: 950px;
    
}

/*
#wrapper {
    width: 1600px;
    height: 900px; 
}
*/

#audi {
    position: absolute;
  left: 43%;
  top: 41%;
  color: green;
border-radius: 50%;
    -webkit-box-shadow: 0px 4px 19px 23px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 19px 23px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 19px 23px rgba(0,0,0,0.75);
   
}


	


#car4 {
    transform: rotate(120deg);    
}

#car5 {
    transform: rotate(60deg);
}




#finish {
    position: absolute;
    margin-left: 1540px;
    margin-top: 300px;
    width: 120px;
    height: 120;
/*
    border-radius: 100px;
    background-color: aliceblue;
    opacity: 0.9;
*/
    animation: rainbo 10s linear 1s infinite;
    
    
    }

@Keyframes rainbo {
20% {
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}
}




#p1 {
    position: absolute;
    color: white;
    left: 1050px;
    top: 91px;
    font-size: 80px;
    text-shadow: 5px 2px 5px black;
    
}
        
#p2 {
    color: white;
    position: absolute;
    left: 1115px;
    top: 517px;
    font-size: 80px;
    text-shadow: 5px 2px 5px black;
}




div .t {
    text-align: center;
    padding: 0;
    color: aliceblue;
    margin-top: 65px;
    font-size: 100px;
    opacity: 0.5;
    font-family: serif;
}

div .m {
    text-align: center;
    color: aliceblue;
    margin-top: 310px;
    font-size: 100px;
    opacity: 0.5;
}




div form {
    text-align: center;
    padding: 0;
    
}

#btn1 {
    width: 80px;
    height: 80px;
    margin-left: 20px;
    background-color: firebrick;
    color: white; 
    border-radius: 100%;
    cursor: pointer;
    -webkit-box-shadow: inset -4px 3px 16px 12px rgba(0,0,0,0.50);
    -moz-box-shadow: inset -4px 3px 16px 12px rgba(0,0,0,0.50);
    box-shadow: inset -4px 3px 16px 12px rgba(0,0,0,0.50);
}

#btn1:hover {
color: black;
    background-color: yellow;
    cursor: pointer;
}

#btn1:focus {
    color: white;
    background-color: chartreuse;
    width: 70px;
    height: 70px;
    cursor: pointer;
}




#btn2 {
    width: 80px;
    height: 70px;
    margin-left: 20px;
    background-color: firebrick;
    color: white; 
   
    cursor: pointer;
    -webkit-box-shadow: inset -4px 3px 16px 12px rgba(0,0,0,0.50);
    -moz-box-shadow: inset -4px 3px 16px 12px rgba(0,0,0,0.50);
    box-shadow: inset -4px 3px 16px 12px rgba(0,0,0,0.50);
}
 
#btn2:hover {
    cursor: pointer;
    color: black;
    background-color: yellow;
}

#btn2:focus {
    cursor: pointer;
    color: black;
    background-color: chartreuse;
    width: 70px;
    height: 60px;
}




#btnStop {
    position: absolute;
    margin-left: 1500px;
    animation: stop 8s linear 2s infinite;
    cursor: pointer;
}

@Keyframes stop {
50% {
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    margin-left: 1400px;
}
}

#btnStop:hover {
    cursor: pointer;
  width: 80px;
    height: 80px;
}

a #btnStop:focus {
    cursor: pointer;
    color: white;
    background-color: firebrick;
}




#btnStart {
    position: absolute;
    margin-left: 100px;
    animation: star 10s linear 2s infinite; 
    cursor: pointer;
}

@Keyframes star {
50% {
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    margin-left: 200px;
}
}

#btnStart:hover {
    cursor: pointer;
  width: 80px;
    height: 80px;
}



/*
      img {
          transition: transform 2s;
          -webkit-transition: -webkit-transform 2s;
          -moz-transition: -moz-transform 2s;
          -o-transition: -o-transform 2s;
         
        }
*/

 

/*
        img:hover {
          
            transform: rotate(360deg);
            -webkit-transform: rotate((360deg);
            -moz-transform: rotate((360deg);
            -o-transform: rotate((360deg);
            -ms-transform: rotate((360deg);
        }*/
