html {
    overflow: hidden;
    width: 1670px;
   
   
}
body  {
     width: 100%;
     height: 100%;
     background-color: currentColor;
}

#back {
    background-image:url(road.jpg);
    height: 1000px;
    background-position: top;
    background-repeat: repeat;
    background-size: auto;
    position: relative;
    

  
   
    
/*
    width: 1700px;
    height: 950px;
    
*/
}

/*
#wrapper {
    width: 1600px;
    height: 900px; 
}
*/

#audi {
    position: absolute;
    left: 0px;
    top: 22px;
 

 
    
}

/*
@Keyframes audi {
50% {
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    margin-left: 1500px;
    margin-right: 100px;
}
}
*/


	


#car4 {
    transform: rotate(120deg);    
}

#car5 {
    transform: rotate(60deg);
}




#finish {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 1560px;
    top: 356px;
    width: 190px;
/*
    border-radius: 100px;
    background-color: aliceblue;
    opacity: 0.9;
*/
    animation: rainbo 2s linear 1s infinite;
    transform: rotate(-90deg);  
    
    }

@Keyframes rainbo {

    50% {
    -o-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -webkit-transform: rotate(-80deg);
    transform: rotate(-80deg);
}
}




#p1 {
    position: absolute;
    color: white;
    left: 1050px;
    top: 91px;
    font-size: 80px;
    text-shadow: 5px 2px 5px black;
 
    
}
        
#p2 {
    color: white;
    position: absolute;
    left: 1115px;
    top: 517px;
    font-size: 80px;
    text-shadow: 5px 2px 5px black;
}




div .t {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 150px;
    left: 780px;
    color: aliceblue;
    font-size: 100px;
    opacity: 0.5;
    font-family: serif;
    font-style: italic;
}

div .m {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 570px;
    left: 710px;
    color: aliceblue;
    font-size: 100px;
    opacity: 0.5;
    font-style: italic;
}




div form {
    position: absolute;
    left: 644px;
    top: 2px;
    padding: 0;
    margin: 5px;
    
}

#btn1 {
    width: 80px;
    height: 80px;
    margin-left: 20px;
    background-color: firebrick;
    color: white; 
    border-radius: 100%;
    cursor: pointer;
    -webkit-box-shadow: inset -4px 3px 16px 12px rgba(0,0,0,0.50);
    -moz-box-shadow: inset -4px 3px 16px 12px rgba(0,0,0,0.50);
    box-shadow: inset -4px 3px 16px 12px rgba(0,0,0,0.50);
}

#btn1:hover {
color: black;
    background-color: yellow;
    cursor: pointer;
}

#btn1:focus {
    color: white;
    background-color: chartreuse;
    width: 70px;
    height: 70px;
    cursor: pointer;
}




#btn2 {
    width: 80px;
    height: 70px;
    margin-left: 20px;
    background-color: firebrick;
    color: white; 
   
    cursor: pointer;
    -webkit-box-shadow: inset -4px 3px 16px 12px rgba(0,0,0,0.50);
    -moz-box-shadow: inset -4px 3px 16px 12px rgba(0,0,0,0.50);
    box-shadow: inset -4px 3px 16px 12px rgba(0,0,0,0.50);
}
 
#btn2:hover {
    cursor: pointer;
    color: black;
    background-color: yellow;
}

#btn2:focus {
    cursor: pointer;
    color: black;
    background-color: chartreuse;
    width: 70px;
    height: 60px;
}




#btnStop {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 1600px;
    top: 8px;
    animation: stop 15s linear 5s infinite;
    cursor: pointer;
}

@Keyframes stop {
50% {
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    margin-left:-330px;
}
}

#btnStop:hover {
    cursor: pointer;
  width: 80px;
    height: 80px;
}

a #btnStop:focus {
    cursor: pointer;
    color: white;
    background-color: firebrick;
}




#btnStart {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 300px;
    top: 8px;
    animation: star 15s linear 5s infinite; 
    cursor: pointer;
}

@Keyframes star {
50% {
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    margin-left: 300px;
}
}

#btnStart:hover {
    cursor: pointer;
    width: 80px;
    height: 80px;
}



/*
      img {
          transition: transform 2s;
          -webkit-transition: -webkit-transform 2s;
          -moz-transition: -moz-transform 2s;
          -o-transition: -o-transform 2s;
         
        }
*/

 

/*
        img:hover {
          
            transform: rotate(360deg);
            -webkit-transform: rotate((360deg);
            -moz-transform: rotate((360deg);
            -o-transform: rotate((360deg);
            -ms-transform: rotate((360deg);
        }*/
