
/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    
    .wrapper { width: 800px; }
    
    .player-0-panel,
    .player-1-panel {
    height: 600px;
    padding: 80px;
    }
    
    .player-name { font-size: 30px; }
    
    .player-score {
        font-size: 70px;
        margin-bottom: 110px;
    }
    
    .active .player-name::after { 
        font-size: 39px;
        right: 15px;
    }
    
    .player-current-box {
        width: 40%;
        padding: 8px;
    }
    
    .player-current-label {
        margin-bottom: 8px;
        font-size: 10px;
    }
    
    .player-current-score { font-size: 25px; }
    
    button { font-size: 15px; }
    
     i {
    margin-right: 10px;
    font-size: 25px;
    }
    
    .btn-new { top: 45px; } 
    .btn-roll { top: 343px; }
    .btn-hold { top: 390px; }
    
    .dice {
    height: 80px;
    }
    
    #dice-1 { top: 110px; }
    #dice-2 { top: 215px; }
    
    .final-score {
        top: 435px;
        font-size: 15px;
        padding: 10px;
        width: 120px;
    }   
}
    